extend templates/page

block title
  title Покупка и продажа
  
block content
  - var num = 1;
  - var contentTitle = 'Сопровождение продажи/покупки импортированных в РФ самолетов и вертолетов.';
  - var infoMain = 'Покупка и продажа авиационной техники всегда являлось не простым мероприятием. Высокая стоимость изделия требует детальной проверки соответствия всех заявленных характеристик факту. Ошибка может стоить очень дорого.';
  - var infoMore_1 = '';
  - var infoMore_2 = '';  
  -
    var services = [
      {
        description: '<b>аудит технического состояния;</b>'
      },
      {
        description: '<b>анализ ценообразования;</b>'
      },
      {
        description: '<b>проверка правоустанавливающих документов;</b>'
      },
      {
        description: '<b>подтверждение таможенной очистки;</b>'
      },
      {
        description: '<b>договора и организация проведения сделок;</b>'
      },
      {
        description: '<b>подбор конкретного воздушного судна для приобретения;</b>'
      },
      {
        description: '<b>продажа воздушного судна по поручению владельца;</b>'
      }
    ]
  
  +servicePage()
