extend templates/page

block title
  title Системы Бизнес Авиации



block content
  .page_content-right    
    
    .about-title Новый проект
      br
      | Михаила Титова
      
    img.about-img(src="resources/img/photo.png")
    
    .about-info
    
      p Михаила Титова можно смело считать причастным к участию в создании российской индустрии бизнес авиации.
      
      p Многолетний руководитель и один из создателей крупнейшей сетевой российской компании по обслуживанию воздушных судов бизнес авиации ОАО «ЦУГА «РусАэро», Михаил лично участвовал в создании многих предприятий, ставших базой и основой российской сервисной инфраструктуры бизнес авиации. Среди них, в том числе, компания ВИППОРТ во Внуково-3, предприятия и структуры в других крупнейших аэропортах страны.
      
      p.vanish_mobile Созданная при участии Михаила и долгие годы возглавляемая им ОАО «Авиакомпания «РусДжет», как головное предприятие системы управления частными и корпоративными воздушными судами, на протяжении многих лет является признанным лидером в России.
      
      p.vanish_mobile Это подтверждено шестикратными победами в ежегодной национальной премии в области гражданской авиации — «Крылья России».
      
      p.vanish_mobile Сложность структуры управления и высокая стоимость владения воздушными судами часто вызывают досаду у собственников и требуют регулярного контроля и аудита.
      
      p.vanish_mobile Стоит ли инвестировать в проекты, связанные с бизнес авиацией в России и за рубежом? 
      
      p.vanish_mobile Как создать правильную инфраструктуру для бизнес авиации в аэропорту? Как привлечь инвестиции для стартапов в области бизнес авиации?
      
      p.vanish_mobile Для решения этих и других возникающих у Вас и Ваших компаний проблем и вопросов в области бизнес авиации и создана компания «Системы Бизнес Авиации». 
      
      p.vanish_mobile Новый проект Михаила Титова основан на огромном личном опыте. Доверительная и спокойная беседа о тех или иных неудобствах, связанных с Вашими полетами, это лучший способ найти правильное решение. Отныне Вы можете довериться лучшим специалиста в бизнес авиации, собранным в единую команду для защиты Ваших интересов.
      
      ul.list-simple.vanish_desktop.accordion
        li.js_acc_trigger.acc_item
          .acc_item_title Узнать больше
            
          .acc_item_description
            p Созданная при участии Михаила и долгие годы возглавляемая им ОАО «Авиакомпания «РусДжет», как головное предприятие системы управления частными и корпоративными воздушными судами, на протяжении многих лет является признанным лидером в России.
            p Это подтверждено шестикратными победами в ежегодной национальной премии в области гражданской авиации — «Крылья России».
            p Сложность структуры управления и высокая стоимость владения воздушными судами часто вызывают досаду у собственников и требуют регулярного контроля и аудита.
            p Стоит ли инвестировать в проекты, связанные с бизнес авиацией в России и за рубежом? 
            p Как создать правильную инфраструктуру для бизнес авиации в аэропорту? Как привлечь инвестиции для стартапов в области бизнес авиации?
            p Для решения этих и других возникающих у Вас и Ваших компаний проблем и вопросов в области бизнес авиации и создана компания «Системы Бизнес Авиации». 
            p Новый проект Михаила Титова основан на огромном личном опыте. Доверительная и спокойная беседа о тех или иных неудобствах, связанных с Вашими полетами, это лучший способ найти правильное решение. Отныне Вы можете довериться лучшим специалиста в бизнес авиации, собранным в единую команду для защиты Ваших интересов.


  .page_content-left
  
    .services_wrapper
      -
        var indexServices = [
          {
            class: 'owner',
            link: 'owner.html',
            text: 'Для владельцев воздушных судов: Аудит расходов, оптимизация структуры управления и многое другое'
          },
          {
            class: 'aircrafts',
            link: 'aircrafts.html',
            text: 'Сопровождение продажи и покупки импортированных в Россию самолётов и вертолётов'
          },
          {
            class: 'trade',
            link: 'trade.html',
            text: 'Купля и продажа инфраструктур <br /> в области бизнес-авиации: авиакомпаний, операторов <br /> и других профильных предприятий'
          },
          {
            class: 'infrastructure',
            link: 'infrastructure.html',
            text: 'Для владельцев инфраструктуры: аэропортов, терминалов и VIP-залов хэндлинговых компаний <br /> и компаний техобслуживания'
          },
          {
            class: 'info',
            link: 'info.html',
            text: 'Зарубежным и консалтинговым компаниям бизнес-авиации'
          }
        ]
    
      each indexService in indexServices
        +serviceItem(indexService)
      
  
  
      
        
