extend templates/page

block title
  title Инфраструктура
  
block content
  - var num = 3;
  - var contentTitle = 'Для владельцев инфраструктуры бизнес авиации.';
  - var infoMain = 'Бизнес авиация имеет значительные отличия от традиционной «большой», коммерческой авиации выполняющей регулярные перевозки по расписанию или же программы сезонных чартеров.';
  - var infoMore_1 = 'Высокая срочность вылета, широчайшая и редко повторяющаяся география полетов, чрезвычайно важные цели полета и высочайший уровень пассажиров предъявляют особые требования ко всем предприятиям и компаниям, задействованным в едином технологическом процессе обеспечения полета.';
  - var infoMore_2 = 'Компания «Системы Бизнес Авиации» предлагает предприятиям инфраструктуры бизнес авиации следующие услуги:';  
  -
    var services = [
      {
        description: '<b>разработка структуры оказания услуг для бизнес авиации</b> в предприятии с учетом существующих и перспективных объемов бизнес перевозок;'
      },
      {
        description: '<b>бюджетирование;</b>'
      },
      {
        description: '<b>создание технологии работы, перечня услуг и тарифов;</b>'
      },
      {
        description: '<b>подбор кадров и организация их тренировки;</b>'
      },
      {
        description: '<b>разработка плана и бюджета маркетинговых мероприятий с целью привлечения клиентуры;</b>'
      },
      {
        description: '<b>- оценка перспективы бизнес перевозок в той или иной конкретной географической точке;</b>'
      },
      {
        description: '<b>организация проектирования специальных инфраструктур</b> (специализированные терминалы, ангары, перрон);'
      },
      {
        description: 'Сопровождение продажи/покупки импортированных в РФ самолетов и вертолетов;</b>'
      },
      {
        description: 'другие услуги;'
      }
    ]
  
  +servicePage()
