extend templates/page

block title
  title Для владельцев воздушых судов
  
block content
  - var num = 0;
  - var contentTitle = 'Для владельцев воздушных судов:<br /> аудит расходов, оптимизация структуры управления и другое';
  - var infoMain = 'Владение самолетом в России уже перестало быть чем-то особенным. Остались в далеком прошлом те времена, когда самолеты покупались через случайных людей, а управляли ими непонятные структуры.';
  - var infoMore_1 = 'И, несмотря на это, владелец сталкивается с большим количеством вопросов, на которые ему просто трудно ответить в силу их специфики.';
  - var infoMore_2 = 'Мы поможем вам во всем разобраться!';  
  -
    var services = [
      {
        description: '<b>оптимизация структуры управления самолетом</b> (страна регистрации, частная или коммерческая регистрация, базирование, программы технического обслуживания, страхование, количество экипажей, условия и вознаграждение, оператор, продажа самолета на чартеры с целью сокращения расходов и др.);'
      },
      {
        description: '<b>аудит расходов на содержание самолета</b> (гарантированная экономия от десятков до сотен тысяч  долларов при выполнении рекомендаций);'
      },
      {
        description: '<b>импорт самолета в РФ и все аспекты такого решения;</b>'
      },
      {
        description: '<b>подбор оператора под поставленные задачи и договора;</b>'
      },
      {
        description: '<b>смена оператора, прием и передача самолета с наименьшими потерями;</b>'
      },
      {
        description: '<b>квалифицированные переговоры с оператором от имени владельца, прекращение конфликтов;</b>'
      },
      {
        description: '<b>конкретизация рисков владения самолетом для той или иной схемы владения</b> (каботаж и иные);'
      },
      {
        description: '<b>регулярная проверка входящих счетов;</b>'
      },
      {
        description: '<b>выполнение функции «единого окна» в системе управления самолетом ;</b>'
      },
      {
        description: '<b>порядок отнесения расходов на авиаперевозки к расходам, снижающим налогооблагаемую базу  предприятия в РФ;</b>'
      },
      {
        description: '<b>договора на приобретение или продажу самолета;</b>'
      },
      {
        description: '<b>организация приемки самолета от имени клиента;</b>'
      },
      {
        description: '<b>организация лизинга приобретаемого воздушного судна.</b>'
      }
    ]
  
  +servicePage()
