extend templates/page

block title
  title Покупка и продажа
  
block content
  - var num = 2;
  - var contentTitle = 'Купля и продажа существующих инфраструктур в области бизнес авиации, авиакомпаний, операторов и других профильных предприятий.';
  - var infoMain = 'Как и любой другой, бизнес связанный с эксплуатацией бизнес авиации и инфраструктурой для нее переживает процесс укрупнения и создания сетей. В силу ряда обстоятельств в этот бизнес в России, самые сильные игроки и мощные инвесторы еще не пришли. Исключениями являются лишь Москва и Санкт Петербург.';
  - var infoMore_1 = 'Особенно интересными может быть построение сети так называемых FBO (инфраструктура для обслуживания бизнес авиации в аэропорту) в европейских аэропортах.';
  - var infoMore_2 = '';  
  -
    var services = [
      {
        description: '<b>подбор и анализ тематической информации для принятия решений об инвестировании;</b>'
      },
      {
        description: '<b>предложения о продаже существующих инфраструктур бизнес авиации в РФ и за рубежом;</b>'
      },
      {
        description: '<b>финансовый и технический аудит</b> рассматриваемых инвестором отраслевых бизнеспланов и предложений на покупку бизнеса;'
      },
      {
        description: '<b>создание концепции построения сетевого бизнеса,</b> связанного с проектами в области бизнес авиации;'
      },
      {
        description: '<b>подготовка и участие в переговорах с потенциальными партнерами или продавцами заказчика;</b>'
      },
      {
        description: '<b>подбор покупателя на действующий профильный бизнес;</b>'
      },
      {
        description: '<b>анализ отраслевых стартапов и поиск инвестора;</b>'
      }
    ]
  
  +servicePage()
